# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
parking.log

# Image captures
captures/
images/
capture_images/

# Node.js
node/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.sqlite3
*.db

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
desktop.ini

# Counter file
counter.txt 